<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1><%= user.name %></h1>
        <h2><%= user.title %></h2>
        <h2><%= user.email %></h2>

        <a class="btn btn-medium btn-primary" href="/membre/edit/<%= user.id %>">Edit</a>

    </div>
</div>